.pokemon-list__container {
  display: flex;
  flex-direction: row;
}

.app-title {
  text-transform: capitalize;
  text-align: center;
  padding: 15px 5px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.pokemon-card {
  background-color: #66ffff;
  box-shadow: 0 3px 2px #d3d3d3;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

h2 {
  font-size: 14px;
  text-transform: capitalize;
  border-top: 1px solid #b5b1b1;
  border-bottom: 1px solid #b5b1b1;
  padding: 4px;
  margin: 4px;
  display: block;
}

.pokemon-type {
  background-color: lightgray;
  display: inline;
  padding: 2px;
  margin-right: 4px;
  border-radius: 5px;
  font-size: 11px;
}
